.button-container {
  align-items: center;
  background-color: #1b1b32;
  border: 2px solid white;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  display: flex;
  flex: 1 1;
  font-size: 38px;
  font-weight: bold;
  height: 83px;
  justify-content: center;
  margin: 4px;
  user-select: none;
}

.button-container:hover {
  background-color: #5a01a7;
}

.operator {
  background-color: #00471b;
}

.operator:hover {
  background-color: #ff6600;
}
