.App {
  align-items: center;
  background-color: #1b1b32;
  display: flex;
  flex-wrap: wrap;
  font-family: Lato, sans-serif;
  height: 100vh;
  justify-content: center;
  padding-top: 10px;
}

.freecodecamp-logo-container {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: center;
  margin: 8px;
  width: 100%;
}

.freecodecamp-logo {
  height: 40px;
}

.calculator-container {
  background-color: #99c9ff;
  border: 5px solid white;
  border-radius: 20px;
  height: 600px;
  padding: 14px;
  width: 400px;
}

.row {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 4px;
}
